* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
  --space-1: 8px;
  --space-2: 16px;
  --space-3: 24px;
  --space-4: 32px;
}
@media (min-width: 360px) and (max-width: 600px) {
  body
  {
    font-size: var(--space-2);
    margin: 1px;
    padding: var(--space-1);
  }
}
@media (min-width: 600px) and (max-width: 1024px) {
   body
  {
    font-size: var(--space-2);
    margin: 2px;
    padding: var(--space-1);
  }
}
@media (min-width: 1024px) and (max-width: 1920px) {
   body
  {
    font-size: var(--space-3);
    margin: 3px;
    padding: var(--space-2);
  }
}
body{
    font-family: Arial, sans-serif;
    background-color: lightyellow;
    padding: 20px; /* Espaçamento interno, permite com que o conteúdo body crie um espaço entre as bordas da tela*/
    align-items: center;
    justify-content: center;
}
@media (min-width: 360px) and (max-width: 600px) {
  nav{
    font-size: var(--space-2);
    margin-bottom: var(--space-2);
  }
}
@media (min-width: 600px) and (max-width: 1024px) {
   nav{
    font-size: var(--space-2);
    margin-bottom: var(--space-2);
  }
}
@media (min-width: 1024px) and (max-width: 1920px) {
   nav{
    font-size: var(--space-3);
    margin-bottom: var(--space-3);
  }
}
nav{
    background-color: gray;
    padding: var(--space-1);
    margin-bottom: var(--space-3);
    border-radius: var(--space-1);
    border-bottom: var(--space-2) solid gray;
    box-shadow: 2px 2px 5px gray;
    display: flex;
    justify-content: center;
}
@media (min-width: 360px) and (max-width: 600px) {
.um,.dois,.tres,.quatro,.cinco,.seis{
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    padding: var(--space-1);
    margin-bottom: var(--space-2);
    background-color: lightblue;
    color :black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: bold;
    border-radius: var(--space-1);
    border-bottom: 2px solid gray;
    box-shadow: 2px 2px 5px gray;
}
}
.um{
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    padding: var(--space-1);
    margin-bottom: var(--space-2);
    background-color: lightcoral;
    color :black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: bold;
    border-radius: var(--space-1);
    border-bottom: 2px solid gray;
    box-shadow: 2px 2px 5px gray;
}
.dois{
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    padding: var(--space-1);
    margin-bottom: var(--space-2);
    background-color: lightgreen;
    color :black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: bold;
    border-radius: var(--space-1);
    border-bottom: 2px solid gray;
    box-shadow: 2px 2px 5px gray;
}
.tres{
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    padding: var(--space-1);
    margin-bottom: var(--space-2);
    background-color: lightcoral;
    color :black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: bold;
    border-radius: var(--space-1);
    border-bottom: 2px solid gray;
    box-shadow: 2px 2px 5px gray;
}
.quatro{
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    padding: var(--space-1);
    margin-bottom: var(--space-2);
    background-color: lightgoldenrodyellow;
    color :black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: bold;
    border-radius: var(--space-1) ;
    border-bottom: 2px solid gray;
    box-shadow: 2px 2px 5px gray;
}
.cinco{
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    padding: var(--space-1);
    margin-bottom: var(--space-2);
    background-color: lightpink;
    color :black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: bold;
    border-radius: var(--space-1);
    border-bottom: 2px solid gray;
    box-shadow: 2px 2px 5px gray;
}
.seis{
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    padding: var(1);
    margin-bottom: var(--space-2) ;
    background-color: lightgray;
    color :black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: bold;
    border-radius: var(--space-1);
    border-bottom: 2px solid gray;
    box-shadow: 2px 2px 5px gray;
}
