/*reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*reset end*/
/*variaveis*/
:root {
    --cor-cura-vida-nova:#7ccf7A;
    --AZUL-CALMO-CEU:#a3cef1;
    --SUAVE-AMARELO:#f9f7cf;
    --LARANJA-DOCE:#f6bd60;
    --SERENIDADE-ESPIRITUAL:#f7ede2;
}
/*variaveis texto*/
:root {
    --tamanho-fonte-pequena:8px;
    --tamanho-fonte-media:16px;
    --tamanho-fonte-grande:24px;
    --tamanho-fonte-maior:32px;
}
/*variaveis end*/
/*estilos globais*/
body {
    font-family: 'ARIAL', sans-serif;
    background-color: var(--AZUL-CALMO-CEU);
    color: #333;
    line-height: 1.6;
}
/*menu hamburguer/tornandoresponsivo para celular*/
button {
    display: inline-block;
}
.menu-hamburguer {
    display: inline-block;
    cursor: pointer;
     background-color: black;
    padding: var(--tamanho-fonte-media);
     margin: var(--tamanho-fonte-media);
    border-radius: 8px;
    box-shadow: 0 4px 6px black

}
.menu-hamburguer span{
    font-size: var(--tamanho-fonte-media);
    display: inline-block;
    color: white;
    background-color: yellowgreen;
}
.menu{
    list-style: none;
    display: none;
    flex-direction: column;
    margin: var(--tamanho-fonte-media);
    padding: var(--tamanho-fonte-pequena);
}
.menu li {
    margin: var(--tamanho-fonte-media);
}
.menu li a {
    text-decoration: none;
    font-weight: 400;
}
.menu.ativo{
    display: block
}
/*logo*/
h1:hover {
    color: white;
    font-size: var(--tamanho-fonte-maior);
    cursor: pointer;
}
/*aside*/
aside {
    background-color: var(--SERENIDADE-ESPIRITUAL);
    padding: var(--tamanho-fonte-grande);
    margin: var(--tamanho-fonte-media);
    border-radius: 8px;
    box-shadow: 0 4px 6px black;
    font-size: var(--tamanho-fonte-media);
    font-family: Arial, Helvetica, sans-serif;
}
aside h2:hover {
    font-size: var(--tamanho-fonte-maior);
    color: var(--LARANJA-DOCE);
    cursor: pointer;
}
main{
    display: flex;
    flex-direction: column;
    background-color: var(--SUAVE-AMARELO);
    border:var(--tamanho-fonte-pequena);
    padding: var(--tamanho-fonte-pequena);
    box-shadow: var(--tamanho-fonte-pequena);
    border-radius: var(--tamanho-fonte-pequena);
    border-bottom: var(--tamanho-fonte-pequena);
}
.um{
    margin-top: var(--tamanho-fonte-media);
    text-align: center;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    border: 5px solid var(--cor-cura-vida-nova);
    border-radius: var(--tamanho-fonte-pequena);
    box-shadow: var(--tamanho-fonte-pequena);
    flex-direction: column;
    background-color: var(--cor-cura-vida-nova);
    color: black;
}
img {
    display: block;
    margin: var(--tamanho-fonte-media) auto;
    max-width: 100%;
    height: auto;
    border-radius: var(--tamanho-fonte-pequena);
    box-shadow: 0 4px 6px black;
}


