* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
:root {
  --space-1: 8px;
  --space-2: 16px;
  --space-3: 24px;
  --space-4: 32px;
}
/*responsividade body*/
@media (min-width: 360px) and (max-width: 600px) {
  body
  {
    font-size: 14px;
    margin: 1px;
    padding: 5px;
  }
}
@media (min-width: 600px) and (max-width: 1024px) {
   body
  {
    font-size: var(--space-2);
    margin: 2px;
    padding: var(--space-1);
  }
}
@media (min-width: 1024px) and (max-width: 1920px) {
   body
  {
    font-size: var(--space-2);
    margin: 3px;
    padding: var(--space-1);
  }
}
body{
  font-family: Arial, Helvetica, sans-serif;;
  color: #222;
  margin: 3px;
  border: 2px solid black;
  padding: var(--space-1);
  background-color: lightsteelblue;
}
/*responsividade artigos*/
@media (min-width: 360px) and (max-width: 600px) {
  article {
    font-size: var(--space-2);
    margin: 3rem auto;
    padding: 1.5rem;
  }
}
@media (min-width: 600px) and (max-width: 1024px) {
  article{
    font-size: var(--space-3);
    margin: 2rem auto;
    padding: 1.2rem;
  }
}
@media (min-width: 1024px) and (max-width: 1920px) {
  article {
    font-size: var(--space-3);
    margin: 1rem auto;
    padding: 1rem;
  }
}
@media (min-width: 360px) and (max-width: 600px) {
  article {
    font-size: var(--space-2);
    margin: 2rem auto;
    padding: 1rem;
  }
}
article{
  display: grid;
    grid-template-columns: auto;
    border: 3px solid black;
    padding: 2px;
    margin-bottom: var(--space-2);
    font-family: Arial, Helvetica, sans-serif;
    font-size: bold;
    border-radius: var(--space-1);
    border-bottom: 2px solid coral;
    box-shadow: 2px 2px 5 coral;
}
@media  (min-width: 360px) and (max-width: 600px) {
  .nossos-projetos{
    font-size: var(--space-2);
    margin: 1rem auto;
    padding: 5px;
  }
}
@media  (min-width: 600px) and (max-width: 1024px) {
  .nossos-projetos{
    font-size: var(--space-2);
    margin: 2rem auto;
    padding: var(--space-1);
  }
}
@media  (min-width: 1024px) and (max-width: 1920px) {
  .nossos-projetos{
    font-size: var(--space-2);
    margin: 3rem auto;
    padding: var(--space-1);
  }
}
.nossos-projetos{
  display: flex;
    flex-direction: column;
    border: 3px solid black;
    padding: var(--space-1);
    margin-bottom: var(--space-2);
    background-color: lightblue;
    color :black;
    font-family: Arial;
    font-size: bold;
    font-weight: bold;
    border-radius: var(--space-1);
    border-bottom: 2px solid gray;
    box-shadow: 2px 2px 5px gray;
}
@media  (min-width: 360px) and (max-width: 600px) {
  .clinicas, .feira, .projeto-na-escola{
    font-size: var(--space-2);
    margin: 1rem auto;
    padding: var(--space-1);
  }
}
@media  (min-width: 600px) and (max-width: 1024px) {
  .clinicas, .feira, .projeto-na-escola{
    font-size: var(--space-2);
    margin: 2rem auto;
    padding: var(--space-1);
  }
}
@media  (min-width: 1024px) and (max-width: 1920px) {
  .clinicas, .feira, .projeto-na-escola{
    font-size: var(--space-2);
    margin: 3rem auto;
    padding: var(--space-1);
  }
}
.clinicas{
  display: grid;
    grid-template-columns: auto;
    border: 3px solid black;
    padding: var(--space-1);
    margin-bottom: var(--space-2);
    background-color: lightblue;
    color :black;
    font-family: Arial;
    font-weight: bold;
    font-size: bold;
    border-radius: var(--space-1);
    border-bottom: 2px solid gray;
    box-shadow: 2px 2px 5px gray;
}
.feira{
    display: grid;
    grid-template-columns: auto;
    border: 3px solid black;
    padding: var(--space-2);
    margin-bottom: var(--space-2);
    background-color: lightblue;
    color :black;
    font-family: Arial;
    font-weight: bold;
    font-size: bold;
    border-radius: var(--space-1);
    border-bottom: 2px solid gray;
    box-shadow: 2px 2px 5px gray;
}
.projeto-na-escola{
 display: grid;
    grid-template-columns: auto;
    border: 3px solid black;
    padding: var(--space-1);
    margin-bottom: var(--space-2);
    background-color: lightblue;
    color :black;
    font-family: Arial;
    font-size: bold;
    font-weight: bold;
    border-radius: var(--space-1);
    border-bottom: 2px solid gray;
    box-shadow: 2px 2px 5px gray;
}
button {
    background-color: black;
    color: white;
    padding: var(--space-3);
    border: none;
    border-radius: var(--space-1);
    font-size: var(--space-2);
    transition: background-color 0.3s, color 0.3s;
}

.botão:hover {
    background-color:red;
    color: black;
}
button {
  cursor: pointer;
}
