/*reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*reset end*/
/*variaveis*/
:root {
    --cor-cura-vida-nova:#7ccf7A;
    --AZUL-CALMO-CEU:#a3cef1;
    --SUAVE-AMARELO:#f9f7cf;
    --LARANJA-DOCE:#f6bd60;
    --SERENIDADE-ESPIRITUAL:#f7ede2;
}
/*variaveis texto*/
:root {
    --tamanho-fonte-pequena:8px;
    --tamanho-fonte-media:16px;
    --tamanho-fonte-grande:24px;
    --tamanho-fonte-maior:32px;
}
/*variaveis end*/
/*estilos globais*/
body {
    font-family: 'ARIAL', sans-serif;
    background-color: var(--SERENIDADE-ESPIRITUAL);
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
header{
    background-color: black;
}
summary{
    color: var(--AZUL-CALMO-CEU);
    cursor: pointer;
}
ul{
    background-color: var(--SUAVE-AMARELO);
}
/*menu hamburguer/tornandoresponsivo para celular*/
button:hover{
    color: rgb(172, 49, 49);
}
.menu-hamburguer {
    display: inline-block;
     background-color: rgb(172, 49, 49);
    padding: var(--tamanho-fonte-media);
     margin: var(--tamanho-fonte-media);
    border-radius: 8px;
    box-shadow: 0 4px 6px black

}
.menu-hamburguer span{
    font-size: var(--tamanho-fonte-media);
    display: inline-block;
    color: white;
}
.menu{
    list-style: none;
    display: none;
    flex-direction: column;
    margin: var(--tamanho-fonte-media);
    padding: var(--tamanho-fonte-pequena);
}
.menu li {
    margin: var(--tamanho-fonte-media);
}
.menu li a {
    text-decoration: none;
    font-weight: 400;
}
.menu.ativo{
    display: block
}
/*logo*/
h1:hover {
    color: rgb(204, 86, 86);
    font-size: var(--tamanho-fonte-maior);
    cursor: pointer;
}
    h1{
    color: white;
    }
    .Texto{
        color: var(--AZUL-CALMO-CEU);
    }
    h2{
        color: var(--AZUL-CALMO-CEU);
    }
/*aside*/
aside {
    background-color: white;
    padding: var(--tamanho-fonte-grande);
    margin: var(--tamanho-fonte-media);
    border-radius: 8px;
    box-shadow: 0 4px 6px black;
    font-size: var(--tamanho-fonte-media);
    font-family: Arial, Helvetica, sans-serif;
}
aside h2:hover {
    font-size: var(--tamanho-fonte-maior);
    color: var(--LARANJA-DOCE);
    cursor: pointer;
}
main{
    display: flex;
    flex-direction: column;
    background-color: var(--SERENIDADE-ESPIRITUAL);
    border:var(--tamanho-fonte-pequena);
    padding: var(--tamanho-fonte-pequena);
    box-shadow: var(--tamanho-fonte-pequena);
    border-radius: var(--tamanho-fonte-pequena);
    border-bottom: var(--tamanho-fonte-pequena);
}
.um{
    margin-top: var(--tamanho-fonte-media);
    text-align: center;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    border: 5px solid var(--AZUL-CALMO-CEU);
    border-radius: var(--tamanho-fonte-pequena);
    box-shadow: var(--tamanho-fonte-pequena);
    flex-direction: column;
    background-color: var(--AZUL-CALMO-CEU);
    color: black;
    flex: 1 1 300px;
    margin: var(--tamanho-fonte-media);
}
img {
    display: block;
    margin: var(--tamanho-fonte-media) auto;
    max-width: 100%;
    height: auto;
    border-radius: var(--tamanho-fonte-pequena);
    box-shadow: 0 4px 6px black;
}
/*responsividade mobile*/
@media (max-width: 767px) {
    header {
        width: 100%;
    }
    details{
        width: 100%;
    }
    aside {
        width: 100%;
    }
    main {
        width: 100%;
    }
    img {
        width: 100%;
    }
}
/*responsividade tablet*/
@media(min-width: 767px) and (max-width: 1023px){
    header {
        width: 80%;
    }
    details {
        width: 80%;
    }
    aside {
        width: 80%;
    }
    main {
        width: 80%;
    }
    img {
        width: 80%;
    }
}
/*rsponsividade desktop*/
@media(min-width: 1024px){
    header {
        width: 80%;
    }
    details {
        width: 80%;
    }
    aside {
        width: 80%;
    }
    main {
        width: 80%;
    }
    img {
        width: 80%;
    }
}
/*fimpg.1*/

